#abcdef  {
    text-align: center;
    color: black;
    margin-top: 10px;
    font-size: 30px;
  
  }


  
 .school{
  /*  margin-left:auto; 
    margin-right:auto; */

    width: 100%;
 } 

.school td {
    padding: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;


}


.school th {
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    


}




.fill h2{
               
    margin-top: 75px;
    text-decoration: none;
    color : white;
   
}

.fill h2:hover{

    color: #E77;

}

.box{
    
    width: 200px;
    height: 200px;
  
    border: 1px solid black;
    text-align: center;
    background-color: #E7746F;   
    }
.box1{
      
    margin-left: 20px;
        width: 200px;
        height: 200px;
        border: 1px solid black;
        text-align: center;
        background-color: #E7746F;   
        
       }    
       
       
       .box:hover{
        background-color: black;
        
  
    }   
  

           

       #aaa{
         width: 420px;
        margin:  auto;
        margin-top: 40px;
        
        
        }

        .bbb{
           
            width: 420px;
           margin:  auto;
           margin-top: 30px;
           margin-bottom: 20px;
           
           }

       #box2{
         
        width: 200px;
        height: 200px;
        border: 1px solid black;
        text-align: center;
        background-color: #E7746F;   
       
     
        
        
        }
        #box3{
            margin-left: 20px;
            width: 200px;
            height: 200px;
            border: 1px solid black;
            text-align: center;
            background-color: #E7746F;   
            
            }


         #box3:hover{
             background-color: black;
             color: #E77;
         }   
            
         .box1:hover{
            background-color: black;
            color: #E7746F;
        }   
            
        #box2:hover{
            background-color: black;
            
        }   
           
        
        
        .doc{
           
            width: 400px;
            height: 450px;
            background-color: whitesmoke;
            margin: 20px;
         
        }
        
        .imgn{
              margin-left: 8px;
            width:180px;
            height: 200px;
            border: 1px solid black;
        }

        .right{
            width: 180px;
            height: 200px;  
            border: 1px solid black;
            margin-right: 8px;
        }



        .bot{
            margin-left: 8px;
               margin-top: 10px;
            width:180px;
            height: 200px;
            border: 1px solid black;
        }

        
        .hey{

            text-align: center;
            margin-top: 20px;
            color: black;
            font-size: 20px;
        }
 

        .bota{
            margin-top: 40px;
           
            
        }

        .bota h5{
          font-size: 17px;
           color: black;
           margin-left: 15px;

        }

        .bota p{
            font-size: 14px;
             color: black;
             margin-left: 15px;
  
          }


          .botaa{
            width: 100%;
            height: 50px;
            margin-top: 30px;
            text-align: center;

          }


          #hashaam{  
          
             margin-top: -30px;           
            margin-bottom: 10px;
            
        }

          #hashaam p{ 
              width: 400px;             
              font-size: large;
          }
         
          #outputtt {
            width: 300px;
            height: 200px;
            }
            #inputtt {
            display: block;
            width: 300px;
            }
            #send-buttonnn {
            width: 300px;
            }