#abcdef  {
    text-align: center;
    color: black;
    margin-top: 10px;
    font-size: 30px;
  
  }


  
 .school{
  /*  margin-left:auto; 
    margin-right:auto; */

    width: 100%;
 } 

.school td {
    padding: 8px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;


}


.school th {
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    


}

#spc{
    width: 100px
}


.schoolss{
      margin-left:auto; 
      margin-right:auto; 
  
      width: 50%;
   } 
  
  .schoolss td {
      padding: 20px;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      background-color: whitesmoke;
  
  
  }
  
  
  .schoolss th {
      padding: 20px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      
  
  
  }

.fill h2{
               
    margin-top: 75px;
    text-decoration: none;
    color : white;
   
}

.fill h2:hover{

    color: #E77;

}

.box{
    
    width: 200px;
    height: 200px;
  
    border: 1px solid black;
    text-align: center;
    background-color: #E7746F;   
    }
.box1{
      
    margin-left: 20px;
        width: 200px;
        height: 200px;
        border: 1px solid black;
        text-align: center;
        background-color: #E7746F;   
        
       }    
       
       
       .box:hover{
        background-color: black;
        
  
    }   
  

           

       #aaa{
         width: 420px;
        margin:  auto;
        margin-top: 40px;
        
        
        }

        .bbb{
           
            width: 420px;
           margin:  auto;
           margin-top: 30px;
           margin-bottom: 20px;
           
           }

       #box2{
         
        width: 200px;
        height: 200px;
        border: 1px solid black;
        text-align: center;
        background-color: #E7746F;   
       
     
        
        
        }
        #box3{
            margin-left: 20px;
            width: 200px;
            height: 200px;
            border: 1px solid black;
            text-align: center;
            background-color: #E7746F;   
            
            }


         #box3:hover{
             background-color: black;
             color: #E77;
         }   
            
         .box1:hover{
            background-color: black;
            color: #E7746F;
        }   
            
        #box2:hover{
            background-color: black;
            
        }   
           
        
        
        .doc{
           
            width: 355px;
            
            background-color: whitesmoke;
            margin: 20px;
         
        }
        
        .imgn{
              margin-left: 8px;
            width:180px;
            height: 200px;
            border: 1px solid black;
        }

        .right{
            width: 180px;
            height: 200px;  
            border: 1px solid black;
            margin-right: 8px;
        }



        .bot{
            margin-left: 8px;
               margin-top: 10px;
            width:180px;
            height: 200px;
            border: 1px solid black;
        }

        
        .hey{

            text-align: center;
            margin-top: 20px;
            color: black;
            font-size: 20px;
        }
 

        .bota{
            margin-top: 40px;
           
            
        }

        .bota h5{
          font-size: 17px;
           color: black;
           margin-left: 15px;

        }

        .bota p{
            font-size: 14px;
             color: black;
             margin-left: 15px;
  
          }


          .botaa{
            width: 100%;
            height: 50px;
            margin-top: 30px;
            text-align: center;
            margin-bottom: 30px;

          }


          #hashaam{  
          
             margin-top: -30px;           
            margin-bottom: 10px;
            
        }

          #hashaam p{ 
              width: 400px;             
              font-size: large;
          }
         
          #outputtt {
            width: 300px;
            height: 300px;
            background-color: #E77;
            color: white;
            }
            #inputtt {
            display: block;
            width: 300px;
            }
            #send-buttonnn {
            border-radius: 5px;
            width: 300px;
            height: 30px;
            background-color: #E77 ;
            }

            #chatbot{
               
                border: 1px solid black; 
                text-align: center;
                width: 300px;
                margin: auto;
                margin-top: 50px;
                background-color: #E77;
               
                
            }

            #chatbot h1{
                color: black;
            }



            #news{
                border-radius: 5px;
                width: 300px;
                height: 200px;
                background-color: #E77;
                margin: auto;
                margin-top: 100px;
                text-align: center;
                border-collapse: initial;
               
                
            }


            #news h1{
                color: black;
                
            }
            #news button{
                margin-top: 30px;
            }


            #profile{
                margin: auto;
               width: 800px;
               background-color: #dcdcdc
               ;
               margin-top: 80px;
               margin-bottom: 30px;
               
            }
           
            #profile table {
                margin: auto;
                width: 600px;
                margin-top: 20px;
               
                
            
            }
            #profile table tbody tr td{
                background-color: #dcdcdc;

              padding: 15px;
              text-align: center;
              font-weight: bold;
              font-size: large;
              font-family: 'Times New Roman', Times, serif;
                
            
            }

          



            .jkl{
                text-align: center;
                color: black;
                font-weight: bold;
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
            }

         .botss {
            margin: auto;
            border-radius: 10px;
            width: 100px;
            height: 40px;
            background-color: #dcdcdc  ;
            text-align: center;
            padding-top: 10px;
            margin-top: 10px;
            float: right;
            margin-right: 2px;
            
          
        }

       .botss button{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        
       }
           
       
       .botsss {
        margin: auto;
        border-radius: 10px;
        
        width: 100px;
        height: 40px;
        margin-right: 2px;
        background-color: #dcdcdc;
        text-align: center;
        float: right;
        margin-top: 10px;
        
      
    }

   .botsss h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding-top: 10px;
    
    
   }

   .botsss1 {
    margin: auto;
    border-radius: 10px;
   
    width: 100px;
    height: 40px;
    margin-right: 2px;
    background-color: #dcdcdc;
    text-align: center;
    float: right;
    margin-top: 10px;
  
  
}

.botsss1 h1{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-decoration: none;
font-size: 13px;
color: black;
padding-top: 10px;


}
 

.botsss2 {
    margin: auto;
    border-radius: 10px;
  
    width: 100px;
    height: 40px;

    background-color: #dcdcdc;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 2px;
  
  
}

.botsss2  h1{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-decoration: none;
font-size: 13px;
color: black;
padding-top: 10px;



}




.botssss {
    margin: auto;
    border-radius: 10px;
  
    width: 100px;
    height: 40px;

    background-color: #dcdcdc;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 2px;
  
  
}

.botssss  h1{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-decoration: none;
font-size: 13px;
color: black;
padding-top: 10px;



}


.botsss3 {
    margin: auto;
    border-radius: 10px;
  
    width: 100px;
    height: 40px;

    background-color: #dcdcdc;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 2px;
  
  
}

.botsss3  h1{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-decoration: none;
font-size: 13px;
color: black;
padding-top: 10px;



}


.botsss5 {
    margin: auto;
    border-radius: 10px;
  
    width: 100px;
    height: 40px;

    background-color: #dcdcdc;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-right: 2px;
  
  
}

.botsss5  h1{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-decoration: none;
font-size: 12px;
color: black;
padding-top: 6px;



}


.botp{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
font-weight: bold;
color: black;
}
   


.botsss4 {
    margin: auto;
    border-radius: 10px;
  
    width: 100px;
    height: 40px;

    background-color: #E77;
    text-align: center;
    float: right;
    margin-top: -30px;
    margin-right: 2px;
    border: 1px solid black;
  
  
}

.botsss4  h1{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-decoration: none;
font-size: 13px;
color: white;
padding-top: 10px;



}


.botsss6 {
    margin: auto;
    border-radius: 10px;
  
    width: 100px;
    height: 40px;

    background-color: #E77;
    text-align: center;
    float: right;
    margin-top: -30px;
    margin-right: 2px;
    border: 1px solid black;
  
  
}

.botsss6  h1{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-decoration: none;
font-size: 11px;
color: white;
padding-top: 7px;



}

#bookingnew{
    width:250px;
    margin-left: auto;
    margin-right: auto;
}